CsharpBaseSolution/Chapter43_RoomServiceClientForm/Connected Services/RoomReservationService/RoomReservationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RoomReservationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9000/RoomReservation?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9000/RoomReservation?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9000/RoomReservation?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Chapter43_RoomReservationContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRoomService_ReserveRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:ReserveRoom" />
  </wsdl:message>
  <wsdl:message name="IRoomService_ReserveRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReserveRoomResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomService_GetRoomReservaton_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoomReservaton" />
  </wsdl:message>
  <wsdl:message name="IRoomService_GetRoomReservaton_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRoomReservatonResponse" />
  </wsdl:message>
  <wsdl:portType name="IRoomService">
    <wsdl:operation name="ReserveRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomService/ReserveRoom" message="tns:IRoomService_ReserveRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomService/ReserveRoomResponse" message="tns:IRoomService_ReserveRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoomReservaton">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomService/GetRoomReservaton" message="tns:IRoomService_GetRoomReservaton_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomService/GetRoomReservatonResponse" message="tns:IRoomService_GetRoomReservaton_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRoomService" type="tns:IRoomService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReserveRoom">
      <soap:operation soapAction="http://tempuri.org/IRoomService/ReserveRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoomReservaton">
      <soap:operation soapAction="http://tempuri.org/IRoomService/GetRoomReservaton" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoomReservationService">
    <wsdl:port name="BasicHttpBinding_IRoomService" binding="tns:BasicHttpBinding_IRoomService">
      <soap:address location="http://localhost:9000/RoomReservation" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>