CsharpBaseSolution/Chapter43_RoomServiceClientForm/Connected Services/RoomReservationService/RoomReservation2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9000/RoomReservation?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Chapter43_RoomReservationContracts" />
  <xs:element name="ReserveRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Chapter43_RoomReservationContracts" minOccurs="0" name="roomReservaton" nillable="true" type="q1:RoomReservaton" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReserveRoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReserveRoomResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomReservaton">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromDatetime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="toDatetime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomReservatonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Chapter43_RoomReservationContracts" minOccurs="0" name="GetRoomReservatonResult" nillable="true" type="q2:ArrayOfRoomReservaton" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>