CsharpBaseSolution/Chapter43_RoomServiceClientForm/Connected Services/RoomReservationService/RoomReservation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Chapter43_RoomReservationContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Chapter43_RoomReservationContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RoomReservaton">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="RoomName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoomReservaton" nillable="true" type="tns:RoomReservaton" />
  <xs:complexType name="ArrayOfRoomReservaton">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoomReservaton" nillable="true" type="tns:RoomReservaton" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoomReservaton" nillable="true" type="tns:ArrayOfRoomReservaton" />
</xs:schema>